/* Resets */
body {
    margin: unset;
}

h1,
h2,
p {
    font-size: unset;
    font-weight: unset;
    margin: unset;
}

ul,
li {
    list-style: none;
    margin: unset;
    padding: unset;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    vertical-align: top;
}

/* CSS VARIABLES */
:root {
    --color-aqua: #13C7A3;

    
}

/* Layouts */
.wrapper {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: black;
    min-width: 300px;
    padding: 100px 0 0 40px;
    height: 300vh;
}

.sidebar-menu {}

.sidebar-title {
    color: white;
    padding: 26px 0;
    position: relative;
    font-size: 20px;
}

.sidebar-title::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sidebar-contents {
    color: var(--color-aqua);
    position: relative;
    font-size: 12px;
    padding: 20px 0;
    margin-left: 30px;
}

.sidebar-contents::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
}






.main {
    flex-grow: 1;
    width: 100%;
    box-shadow: inset 0 0 20px red;
}

.main-header {
    height: 750px;
    background-image: url(image/bg.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.main-header-profile {
    border: 4px solid #999;
    border-radius: 50%;
    margin-top: 200px
}

.main-header-title {
    font-size: 50px;
    font-weight: 700;
}

.main-header-title-sub {
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
}

.main-header-discription {
    padding: 100px 150px 150px 150px;
    text-align: center;
}

.main-header-discription-contents {
    font-size: 20px;
    padding-bottom: 70px;
    line-height: 2em;
}

.main-header-discription-sub {
    border: 2px solid var(--color-aqua);
    padding: 20px 10px;
}

.main-skills {
    text-align: center;
    margin-bottom: 200px;
}

.main-skills-title {
    font-size: 50px;
    padding: 100px 0 70px 0;
    position: relative;
    width: 900px;
    margin: 0 auto;
}

.main-skills-title::before {
    content: ' ';
    width: 100%;
    height: 1px;
    background-color: #999;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.main-skills-title-sub {
    font-size: 20px;
    padding: 30px;
}

.main-skills-contents {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.main-skills-contents::before {
    content: ' ';
    position: absolute;
    background-color: #999;
    height: 2px;
    left: 20px;
    right: 20px;
    top: 50%;
}

.main-skills-contents::after {
    content: ' ';
    position: absolute;
    background-color: #999;
    width: 2px;
    top: 0;
    bottom: 0;
    right: 50%;
}

.main-skills-contents-list {
    width: 50%;
}

.main-skills-contents-list img {
    width: 100px;
    height: 100px;
    padding: 40px;
    border-radius: 50%;
}

.main-skills-contents-list h2 {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.main-skills-contents-list p {
    line-height: 1.4em;
    padding: 0 30px 30px 30px;
}

.main-progress {
    position: relative;
}

.main-progress h1 {
    font-size: 50px;
    font-weight: 400;
    padding: 50px 0;
    text-align: center;
    width: 900px;
    margin: 100px auto 100px auto;
    position: relative;
}

.main-progress h1::before {
    content: ' ';
    background-color: #999;
    position: absolute;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    display: inline-block;
}

.pgs-bar {
    width: 1200px;
    margin: 0 auto 200px auto;
}

.l_pgs {
    background-color: #999;
    border-radius: 3dvb;
}

.pgs-list {
    height: 50px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.pgs-html {
    background-color: var(--color-aqua);
    width: 80%;
}

.pgs-js {
    background-color: purple;
    width: 50%;
}

.pgs-react {
    background-color: orangered;
    width: 50%;
}

.main-portfolio {
}

.main-portfolio h1 {
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.main-portfolio h1::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #999;
    height: 1px;
}

.pf-list {
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.pf-list li {
    box-shadow: inset 0 0 20px blue;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 700;
}

.pf-list a {
    padding: 5px 20px 5px 20px;
    border: 4px solid black;
}